@import 'main.css';

/* global : reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
/* global : variables */
:root {
    /* spacing */
    --sp-sm: 5%;
    --sp-md: 10%;
    --sp-lg: 20%;

    /* color */
    --main: rgb(0, 0, 0);
    --alt: rgb(155, 155, 155);
    --sub: rgb(255, 255, 255);
    --acc: rgb(10, 177, 93);

    
    /* === dev borders === */
    --wireframe: 3px solid darkblue;
    --component: 3px dotted darkgreen;
    --debugging: 3px dotted darkred;

}
/* global : css */
html, body {
    scroll-behavior: smooth;
}

/* section : lists */
.lists {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: var(--wireframe); */
}
.lists ul {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    text-align: left;
    
    width: 100%;
    height: 100%;

    /* border: var(--component); */
}
.lists li {
    font-size: 1.3rem;
    list-style-type: none;
    text-align: left;
    
    padding-left: var(--sp-md);
    margin-right: auto;
}
ul li:nth-child(4) {
    padding-bottom: var(--sp-md);
}